<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>main/models/role_m_itemshop/walk_down1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{1,1},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main/models/role_m_itemshop/walk_down2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{19,1},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>role_m_itemshop.png</string>
            <key>size</key>
            <string>{36,18}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e51e22ffd2a0ee6d561887162c1a737d:705c128da3ed9b8c85315289937f614e:58c4e3d9cd284b85ca68e5e000f94e61$</string>
            <key>textureFileName</key>
            <string>role_m_itemshop.png</string>
        </dict>
    </dict>
</plist>
