<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>main/models/role_guanyu/attack1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,32}</string>
                <key>spriteSourceSize</key>
                <string>{48,32}</string>
                <key>textureRect</key>
                <string>{{19,19},{48,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main/models/role_guanyu/attack2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,32}</string>
                <key>spriteSourceSize</key>
                <string>{48,32}</string>
                <key>textureRect</key>
                <string>{{69,19},{48,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main/models/role_guanyu/death1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,16}</string>
                <key>spriteSourceSize</key>
                <string>{24,16}</string>
                <key>textureRect</key>
                <string>{{1,1},{24,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main/models/role_guanyu/walk_down1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{27,1},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main/models/role_guanyu/walk_down2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{45,1},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main/models/role_guanyu/walk_right1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{63,1},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main/models/role_guanyu/walk_right2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{81,1},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main/models/role_guanyu/walk_up1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{99,1},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main/models/role_guanyu/walk_up2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{1,19},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>role_guanyu.png</string>
            <key>size</key>
            <string>{118,52}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4d97b2f461e933f694008b60dff60f2c:c1ed7812542033c64f3aa4687bd4b2d7:66135e0f92def64581928d993a3490f4$</string>
            <key>textureFileName</key>
            <string>role_guanyu.png</string>
        </dict>
    </dict>
</plist>
