<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>main/models/role_zhangfei/attack1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,32}</string>
                <key>spriteSourceSize</key>
                <string>{48,32}</string>
                <key>textureRect</key>
                <string>{{19,19},{48,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main/models/role_zhangfei/attack2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,32}</string>
                <key>spriteSourceSize</key>
                <string>{48,32}</string>
                <key>textureRect</key>
                <string>{{69,19},{48,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main/models/role_zhangfei/death1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,16}</string>
                <key>spriteSourceSize</key>
                <string>{24,16}</string>
                <key>textureRect</key>
                <string>{{1,1},{24,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main/models/role_zhangfei/walk_down1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{27,1},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main/models/role_zhangfei/walk_down2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{45,1},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main/models/role_zhangfei/walk_right1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{63,1},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main/models/role_zhangfei/walk_right2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{81,1},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main/models/role_zhangfei/walk_up1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{99,1},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main/models/role_zhangfei/walk_up2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{1,19},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>role_zhangfei.png</string>
            <key>size</key>
            <string>{118,52}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2f107e8438077ea4a99e3ac4f168180b:0fd2a205671188704b4f9ff200f76358:88b877d4ad1a3d0f4fb11b6dc89f6329$</string>
            <key>textureFileName</key>
            <string>role_zhangfei.png</string>
        </dict>
    </dict>
</plist>
