<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>main/models/role_dianwei/attack1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,32}</string>
                <key>spriteSourceSize</key>
                <string>{48,32}</string>
                <key>textureRect</key>
                <string>{{19,19},{48,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main/models/role_dianwei/attack2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,32}</string>
                <key>spriteSourceSize</key>
                <string>{48,32}</string>
                <key>textureRect</key>
                <string>{{69,19},{48,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main/models/role_dianwei/death1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,16}</string>
                <key>spriteSourceSize</key>
                <string>{24,16}</string>
                <key>textureRect</key>
                <string>{{1,1},{24,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main/models/role_dianwei/walk_down1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{27,1},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main/models/role_dianwei/walk_down2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{45,1},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main/models/role_dianwei/walk_right1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{63,1},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main/models/role_dianwei/walk_right2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{81,1},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main/models/role_dianwei/walk_up1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{99,1},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main/models/role_dianwei/walk_up2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{1,19},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>role_dianwei.png</string>
            <key>size</key>
            <string>{118,52}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c8724fd4a88db12902be001ebfb587d1:e3433d1385e629dec3ea2773449838a6:ae12a78db944072ba5871c028391bf51$</string>
            <key>textureFileName</key>
            <string>role_dianwei.png</string>
        </dict>
    </dict>
</plist>
