<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>demo/images/pic1</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{128,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,80}}</string>
                <key>sourceSize</key>
                <string>{128,80}</string>
            </dict>
            <key>demo/images/pic2</key>
            <dict>
                <key>frame</key>
                <string>{{131,1},{128,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,80}}</string>
                <key>sourceSize</key>
                <string>{128,80}</string>
            </dict>
            <key>demo/images/pic2-effect</key>
            <dict>
                <key>frame</key>
                <string>{{1,165},{63,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,80}}</string>
                <key>sourceSize</key>
                <string>{63,80}</string>
            </dict>
            <key>demo/images/pic3</key>
            <dict>
                <key>frame</key>
                <string>{{1,83},{128,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,80}}</string>
                <key>sourceSize</key>
                <string>{128,80}</string>
            </dict>
            <key>demo/images/pic3-effect</key>
            <dict>
                <key>frame</key>
                <string>{{131,131},{110,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,80}}</string>
                <key>sourceSize</key>
                <string>{110,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>images.png</string>
            <key>size</key>
            <string>{212,242}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c2eacac9d932126082beca1aae92df91:5088e1382cde08c4f30dbd8a44d61b4c:e1a9b31caf258d7c92150a6ccbde6fbd$</string>
            <key>textureFileName</key>
            <string>images.png</string>
        </dict>
    </dict>
</plist>
