<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boot/images/spanel1</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{208,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,64}}</string>
                <key>sourceSize</key>
                <string>{208,64}</string>
            </dict>
            <key>boot/images/updateprog</key>
            <dict>
                <key>frame</key>
                <string>{{1,67},{199,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,6}}</string>
                <key>sourceSize</key>
                <string>{199,6}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>images.png</string>
            <key>size</key>
            <string>{210,74}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0ad7fb9f9b53cb008b37cd73439dc8e2:d9128924ee766cc1168503bf48737a6f:e1a9b31caf258d7c92150a6ccbde6fbd$</string>
            <key>textureFileName</key>
            <string>images.png</string>
        </dict>
    </dict>
</plist>
