<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>main/effects/skill_recovery/f1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,8}</string>
                <key>spriteSourceSize</key>
                <string>{8,8}</string>
                <key>textureRect</key>
                <string>{{1,1},{8,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main/effects/skill_recovery/f2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,8}</string>
                <key>spriteSourceSize</key>
                <string>{8,8}</string>
                <key>textureRect</key>
                <string>{{1,11},{8,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main/effects/skill_recovery/f3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,8}</string>
                <key>spriteSourceSize</key>
                <string>{8,8}</string>
                <key>textureRect</key>
                <string>{{1,21},{8,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main/effects/skill_recovery/f4</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,8}</string>
                <key>spriteSourceSize</key>
                <string>{8,8}</string>
                <key>textureRect</key>
                <string>{{11,1},{8,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main/effects/skill_recovery/f5</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,8}</string>
                <key>spriteSourceSize</key>
                <string>{8,8}</string>
                <key>textureRect</key>
                <string>{{21,1},{8,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main/effects/skill_recovery/f6</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,8}</string>
                <key>spriteSourceSize</key>
                <string>{8,8}</string>
                <key>textureRect</key>
                <string>{{11,11},{8,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main/effects/skill_recovery/f7</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,8}</string>
                <key>spriteSourceSize</key>
                <string>{8,8}</string>
                <key>textureRect</key>
                <string>{{11,21},{8,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main/effects/skill_recovery/f8</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,8}</string>
                <key>spriteSourceSize</key>
                <string>{8,8}</string>
                <key>textureRect</key>
                <string>{{21,11},{8,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skill_recovery.png</string>
            <key>size</key>
            <string>{30,30}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6ca745d07fd979386620c2e21840e991:d15d01f0afbb9ef73929c3725e34df96:4db533c47852b808716aca01f5c4cc05$</string>
            <key>textureFileName</key>
            <string>skill_recovery.png</string>
        </dict>
    </dict>
</plist>
