<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>main/effects/skill_water2/spoutH</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,8}</string>
                <key>spriteSourceSize</key>
                <string>{16,8}</string>
                <key>textureRect</key>
                <string>{{1,37},{16,8}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>main/effects/skill_water2/spoutT</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,8}</string>
                <key>spriteSourceSize</key>
                <string>{16,8}</string>
                <key>textureRect</key>
                <string>{{11,37},{16,8}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>main/effects/skill_water2/spray1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,16}</string>
                <key>spriteSourceSize</key>
                <string>{24,16}</string>
                <key>textureRect</key>
                <string>{{1,1},{24,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main/effects/skill_water2/spray2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,16}</string>
                <key>spriteSourceSize</key>
                <string>{24,16}</string>
                <key>textureRect</key>
                <string>{{1,19},{24,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skill_water2.png</string>
            <key>size</key>
            <string>{26,54}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8e6fdec558a723c72159c5cdd46a2d43:d84a1f3c7dd13852d973f27f29e555c2:7c8a671ebaca48507634a91eb6b5db04$</string>
            <key>textureFileName</key>
            <string>skill_water2.png</string>
        </dict>
    </dict>
</plist>
