<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>main/effects/skill_water1/spout</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{1,1},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main/effects/skill_water1/spoutH</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,16}</string>
                <key>spriteSourceSize</key>
                <string>{8,16}</string>
                <key>textureRect</key>
                <string>{{19,1},{8,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main/effects/skill_water1/spoutT</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,16}</string>
                <key>spriteSourceSize</key>
                <string>{8,16}</string>
                <key>textureRect</key>
                <string>{{19,19},{8,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main/effects/skill_water1/spray1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{1,19},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main/effects/skill_water1/spray2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{1,37},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skill_water1.png</string>
            <key>size</key>
            <string>{28,54}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:695274f43c4ae72b11c5dd6e7f6be490:687a9cfa1dd0ebc46fa908b54bc1acb0:0d1c9f887d93887a7cb1f215dded8d02$</string>
            <key>textureFileName</key>
            <string>skill_water1.png</string>
        </dict>
    </dict>
</plist>
